.container-section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.align-text-center {
  text-align: center;
}

.values-title {
  text-align: center;
}

.values-card {
  height: 120px;
  padding: 25px 0px;
  margin-bottom: 20px;
}

i {
  font-size: 50px;
  color: #dc3545;
  margin-bottom: 20px;
}
