<div class="section">
    <div class="container-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tim-title values-title">
                        <h2>Nuestros valores</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 values-title">
                            <div class="values-card">
                                <i class="nc-icon nc-layout-11"></i>
                                <p>Trabajo en Equipo</p>
                            </div>
                        </div>
                        <div class="col-md-4 values-title">
                            <div class="values-card">
                                <i class="nc-icon nc-spaceship"></i>
                                <p>Innovación y Mejora Continua</p>
                            </div>
                        </div>
                        <div class="col-md-4 values-title">
                            <div class="values-card">
                                <i class="nc-icon nc-watch-time"></i>
                                <p>Puntualidad</p>
                            </div>
                        </div>
                        <div class="col-md-4 values-title">
                            <div class="values-card">
                                <i class="nc-icon nc-circle-10"></i>
                                <p>Integridad</p>
                            </div>
                        </div>
                        <div class="col-md-4 values-title">
                            <div class="values-card">
                                <i class="nc-icon nc-tie-bow"></i>
                                <p>Ética</p>
                            </div>
                        </div>
                        <div class="col-md-4 values-title">
                            <div class="values-card">
                                <i class="nc-icon nc-satisfied"></i>
                                <p>Respeto</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>