<div class="section">
    <div class="container-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="tim-title align-text-center">
                        <h2>Misión</h2>
                    </div>
                    <div class="align-text-center">
                        <p>
                            Proveer soluciones en tecnologías de información basadas en la capacidad técnica, en la seriedad
                            de los negocios y en
                            nuestra comprobada experiencia.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tim-title align-text-center">
                        <h2>Visión</h2>
                    </div>
                    <div class="align-text-center">
                        <p>
                            Procuramos ser un referente en el mercado nacional y para ello brindaremos todos los servicios
                            que ofrecemos
                            actualmente
                            aumentando los que vayan surgiendo debido a la necesidad de cambio instando por los avances
                            tecnológicos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>